<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th th:width="50">UserId</th>
            <th th:width="120">Name</th>
            <th th:width="120">Surname</th>
            <th th:width="150">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td th:utext="${user.getId()}">id</td>
            <td th:utext="${user.getUsername()}">Name</td>
            <td th:utext="${user.getLastname()}">Surname</td>
            <td th:utext="${user.getEmail()}">Email</td>
        </tr>
    </tbody>
</table>

<br/>
<br/>
<br/>
<br/>

<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>